/*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* fonts *
    --font-rounded: 'M PLUS Rounded 1c', sans-serif;
    --font-mulish: 'Mulish', sans-serif;
    --font-daughter: 'Architects Daughter', cursive;

    /* color *
    --color-darkGrey: #43414F;
    --color-pink: #FF326F;
    --color-green: #39B689;
    --color-yellow: #F2F535;

    /* background *
    --back-gray: #F5F5F5;
    --back-white: rgba(255, 255, 255, 0.6);
}


/* Responsive  *

@media (max-width: 768px) {
    
}

@media (max-width: 486px) {
    
}
 */