:root {
    /* fonts */
    --font-rounded: 'M PLUS Rounded 1c', sans-serif;
    --font-mulish: 'Mulish', sans-serif;
    --font-daughter: 'Architects Daughter', cursive;

    /* color */
    --color-darkGrey: #43414F;
    --color-pink: #FF326F;
    --color-green: #39B689;
    --color-yellow: #F2F535;

    /* background */
    --back-gray: #F5F5F5;
    --back-white: rgba(255, 255, 255, 0.6);
}

.windowArea {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 1;
    transition: all ease-in 0.4s;
}

.open {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius:10px;
}

.closer img {
    position: absolute;
    top: 17px;
    right: 47px;
    width: 25px;
    cursor: pointer;
}

.modal--info {
    max-width: 1100px;
    width: 95%;
    height: 610px;
    border-radius: 15px;
    background-color: white;
    box-shadow:0px 0px 20px #999;
}

.open--title {
    display: flex;
    align-items: center;
    height: 70px;
}
.open--title h1 {
    color: var(--color-darkGrey);
    margin-left: 45px;
    font-size: 35px;
}

.open--content {
    display: flex;
    height: calc(100% - 100px);
}


/* === Imagem modal === */

.open--files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 90%;
}

.slider--img {
    position: relative;
    background-color: rgb(134, 134, 134);
    max-width: 400px;
    width: 90%;
    height: 250px;
}

.slider--img .slider--return {
    position: absolute;
    top: 45%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    cursor: pointer;
}

.slider--img .slider--next {
    position: absolute;
    right: 0;
    top: 45%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    cursor: pointer;
}

.slider--img .slider--return img {
    width: 15px;
    margin-left: -2px;
    height: auto;
    margin-top: -1px;
}
.slider--img .slider--next img {
    width: 15px;
    margin-left: 2px;
    height: auto;
    margin-top: -1px;
}
.slider--img .img {
    width: 100%;
    height: 100%;
}
.slider--img .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* === Video modal === */

.video {
    margin-top: 30px;
    max-width: 400px;
    width: 90%;
    height: 220px;
    background-color: rgb(134, 134, 134);
}

.video iframe {
    width: 100%;
    height: 100%;
}


/* === Open Text Modal === */

.open--text {
    flex: 1;
}

.tourism--text {
    height: 60px;
    width: 90%;
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
    display: flex;
    align-items: center;
}

.tourism--text img {
    width: 30px;
}
.tourism--text h1 {
    margin-left: 10px;
    font-size: 25px;
    color: var(--color-darkGrey);
}

.tourism--p {
    width: 90%;
    margin-top: 10px;
    font-size: 17px;
    height: 280px;
    color: var(--color-darkGrey);
}
.secondp {
    height: 100px;
}

/* Modal Contato */

.windowContact {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 1;
    transition: all ease-in 0.4s;
}

.secondCloser img {
    position: fixed;
    top: 255px;
    right: 520px;
    width: 25px;
    cursor: pointer;
}

.modalinfo--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 500px;
    border-radius: 15px;
    background-color: white;
}

.title--contact {
    display: flex;
    align-items: center;
    height: 70px;
}
.title--contact h1 {
    color: var(--color-pink);
    font-size: 35px;
}

.modal--contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.email {
    color: var(--color-darkGrey);
    font-size: 17px;
}

/* Modal Sobre */

.windowSobre {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 1;
    transition: all ease-in 0.4s;
}

.closerSobre img {
    position: fixed;
    top: 255px;
    right: 520px;
    width: 25px;
    cursor: pointer;
}

.windowSobre .sobre {
    width: 700px;
    text-align: center;
}

/* Responsive  */

@media (max-width: 768px) {
    .open--files {
        width: 50%;
    }
    .open--title {
        height: 50px;
        margin-top: 15px;
    }
    .slider--img {
        height: 200px;
    }
    .video {
        height: 200px;
    }
    .modal--info {
        height: auto;
    }

    .tourism--text {
        height: auto;
    }
    .tourism--text img {
        width: 25px;
    }
    .tourism--text h1 {
        font-size: 23px;
    }
    .tourism--p {
        font-size: 16px;
    }
}

@media (max-width: 486px) {
    .windowArea {
        background-color: white;
    }
    .open {
        height: 100vh;
        width: 100vw;
    }
    .modal--info {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .open--title {
        margin-top: 5px;
    }
    .open--title h1 {
        margin-left: 10px;
    }
    .closer img {
        top: 13px;
        right: 18px;
        width: 23px;
    }
    .open--content {
        flex-direction: column;
    }

    .open--files {
        width: 100%;
        margin-top: 10px;
    }
    .slider--img {
        height: 300px;
        max-width: none;
        width: 95%;
    }
    .video {
        margin-top: 20px;
        max-width: none;
        width: 95%;
        height: 210px;
    }

    .open--title h1 {
        font-size: 28px;
    }
    .open--text {
        padding-left: 10px;
    }
    .tourism--text {
        margin-top: 15px;
    }
    .tourism--text h1 {
        font-size: 22px;
    }
    .tourism--p {
        font-size: 15px;
    }
    .tourism--p {
        height: auto;
    }
    .secondp {
        margin-bottom: 20px;
    }

    .slider--img {
        max-height: 300px;
        height: 50%;
    }
}