
.open {
    
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.closer img {
    position: absolute;
    top: 85px;
    right: 360px;
    width: 30px;
    cursor: pointer;
}

.modal--info {
    width: 1240px;
    height: 700px;
    border-radius: 15px;
    background-color: white;
}

.open--title {
    display: flex;
    align-items: center;
    height: 100px;
}
.open--title h1 {
    margin-left: 60px;
    font-size: 40px;
}

.open--content {
    display: flex;
    height: calc(100% - 100px);
}


/* === Imagem modal === */

.open--files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 520px;
}

.slider--img {
    position: relative;
    background-color: rgb(134, 134, 134);
    width: 400px;
    height: 250px;
}

.slider--img .slider--return {
    position: absolute;
    top: 45%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    cursor: pointer;
}

.slider--img .slider--next {
    position: absolute;
    right: 0;
    top: 45%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    cursor: pointer;
}

.slider--img .slider--return img {
    width: 15px;
    margin-left: -2px;
    height: auto;
    margin-top: -1px;
}
.slider--img .slider--next img {
    width: 15px;
    margin-left: 2px;
    height: auto;
    margin-top: -1px;
}
.slider--img .img {
    width: 100%;
    height: 100%;
}
.slider--img .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* === Video modal === */

.video {
    margin-top: 30px;
    width: 400px;
    height: 220px;
    background-color: rgb(134, 134, 134);
}

.video iframe {
    width: 100%;
    height: 100%;
}


/* === Open Text Modal === */

.open--text {
    flex: 1;
}

.tourism--text {
    height: 60px;
    width: 90%;
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
    display: flex;
    align-items: center;
}

.tourism--text img {
    width: 40px;
}
.tourism--text h1 {
    margin-left: 15px;
    font-size: 30px;
}

.tourism--p {
    width: 90%;
    margin-top: 20px;
    font-size: 17px;
    height: 280px;
}
.secondp {
    height: 100px;
}

