* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* === General Settings === */
:root {
    /* fonts */
    --font-rounded: 'M PLUS Rounded 1c', sans-serif;
    --font-mulish: 'Mulish', sans-serif;
    --font-daughter: 'Architects Daughter', cursive;

    /* color */
    --color-darkGrey: #43414F;
    --color-pink: #FF326F;
    --color-green: #39B689;
    --color-yellow: #F2F535;

    /* background */
    --back-gray: #F5F5F5;
    --back-white: rgba(255, 255, 255, 0.6);
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background: var(--back-gray);
    scroll-behavior:smooth;
}
.container {
    max-width: 1240px;
    width: 90%;
}

/* === Header === */
header {
    display: flex;
    justify-content: center;
}

header .contents {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo a {
    display: flex;
    text-decoration: none;
}

header .logo h1 {
    font-size: 3.5rem;
    font-family: var(--font-daughter);
}

header .one {
    font-family: var(--font-daughter);
    color: var(--color-green);
}
header .two{
    font-family: var(--font-daughter);
    color: var(--color-yellow);
}
header .three {
    font-family: var(--font-daughter);
    color: var(--color-pink);
}

/* === Menu Mobile=== */
.menu--icon {
    display: none;
    align-items: center;
}
.menu--mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38px;
    height: 35px;
    cursor: pointer;
}
.menu--mobile div {
    width: 100%;
    height: 5px;
    background-color: var(--color-pink);
    border-radius: 20px;
}

/* === Menu Mobile Closer === */

.menu--closer {
    display: none;
    position: absolute;
    top: 40px;
    left: 20px;
    flex-direction: column;
    height: 35px;
    cursor: pointer;
    transition: .3s;
}
.closerOne {
    transform: rotate(-45deg);
    width: 38px;
    height: 5px;
    background-color: var(--color-pink);
    border-radius: 20px;
    transform-origin: center;
    top: 4px;
    position: relative;
}

.closerTwo {
    transform: rotate(45deg);
    width: 38px;
    height: 5px;
    background-color: var(--color-pink);
    border-radius: 20px;
    transform-origin: center;
}

/* === Menu === */
header .menu {
    position: relative;
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li a {
    color: var(--color-darkGrey);
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px;
}

header nav li a:hover {
    background: rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

header nav .contact {
    background: var(--back-white);
    margin-left: 50px;
    padding: 10px 30px;
    color: var(--color-pink);
    
}

header nav .contact:hover {
    background: rgba(255, 50, 111, 0.7);
    color: white;
    
}

/* === Area Banner === */
#banner {
    display: flex;
    justify-content: center;
    height: 600px;
    background: var(--back-white);
}

#banner .container{
    display: flex;
}

#banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner .text h1,
#banner .text h2,
#banner .text h3,
#banner .text h4 {
    color: var(--color-darkGrey);
    font-size: 7rem;
    font-weight: 700;
    display: inline-flex;
}
#banner .text h2 {
    font-family: var(--font-daughter);
    color: var(--color-green);
}
#banner .text h3 {
    font-family: var(--font-daughter);
    color: var(--color-yellow);
}
#banner .text h4 {
    font-family: var(--font-daughter);
    color: var(--color-pink);
}
#banner .text p {
    font-size: 1.6rem;
    color: var(--color-darkGrey);
    max-width: 620px;
    width: 90%;
}
#banner .text .social {
    margin-top: 100px;
    font-weight: bold;
    color: var(--color-darkGrey);
}
#banner .text .social a {
    margin-left: 10px;
    text-decoration: none;
    padding: 10px 15px; 
    background: rgba(57, 182, 136, 0.8);
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
}
#banner .text .social a:hover {
    background-color: #13a16d;
    transition: 0.5s;
}

#banner .container .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
#banner .loop--images  {
    position: relative;
    max-width: 430px;
    width: 90%;
    height: 500px;
    border-radius: 8px;
    /* Fazer a borda da imagem do banner com box-shadow -> Estudar isso. */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
#banner .loop--images img {
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 800ms;
}
#banner .loop--images img.selected {
    opacity: 1;
}


/* === Section Marabá === */

.history {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.text--history {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--color-darkGrey);

}
.text--history p {
    max-width: 1000px;
    width: 90%;
}


/* === Main === */

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.title {
    display: flex;
    align-items: center;
    height: 100px;
}
.title h1 {
    color:var(--color-darkGrey);
    font-size: 3.9rem;
}

.guide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* === Modal Guia turistico === */

.models {
    display: none;
}

.modal--guide {
    max-width: 270px;
    width: 90%;
    height: 360px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    margin-bottom: 40px;
}
.modal--guide:hover {
    box-shadow: 0 0 40px #aaaaaa;
    transition: 0.5s;
    transform: scale(1.05);
}
.modal--guide::before {
    content: '';
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 8px 8px;
}
.modal--guide img {
    
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal--guide .text {
    width: 100%;
}
.modal--guide .text h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--back-gray);
    font-size: 2.2rem;
    font-family: var(--font-rounded);
}


/* === Footer === */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B1C1E;
    width: 100%;
    height: 300px;
}
.social {
    margin-bottom: 30px;
}
.social img {
    margin: 5px;
    width: 50px;
    height: auto;
}
.info {
    margin-bottom: 10px;
}
.info a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
}
.copy {
    color: #999999;
    font-weight: 500;
}

/* Responsive  */

@media (max-width: 1024px) {
    #banner {
        height: auto;
        
    }
    #banner .container {
        flex-direction: column;
        align-items: center;
    }
    #banner .loop--images {
        width: 430px;
    }
    #banner .text {
        margin-top: 50px;
        align-items: center;
    }
    #banner .text .social {
        margin-top: 20px;
    }
    #banner .container .banner {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    #banner .text pre {
        display: flex;
        justify-content: center;
    }
    #banner .text p {
        text-align: center;
    }
}

.show {
    right: 0;
}
@media (max-width: 768px) {
    .menu--closer {
        display: flex;
    }
    .menu--icon {
        display: flex;
    }
    header .menu {
        display: none;
        position:absolute;
        right: -50%;
        width: 300px;
        height: 100vh;
        background-color: white;
        z-index: 1;
        transition: all ease .5s;
    }
    header nav {
        height: 100%;
        width: 100%;
    }
    header nav ul {
        height: inherit;
        flex-direction: column;
        justify-content: center;
    }
    header nav li {
        display: flex;
        height: 70px;
    }
    header nav li:hover {
        background-color: #999999;
    }
    header nav .contact {
        margin-left: 0;
    }
    header nav li a {
        text-align: center;
        width: 100%;
        height: 100%;
        border-radius: 0;
        font-size: 1.8rem;
    }

    .guide {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 486px) {
    header .contents {
        height: 80px;
    }

    .history {
        margin: 0;
    }
    .title h1 {
        font-size: 3rem;
    }
    .text--history {
        font-size: 1.5rem;
    }

    main {
        margin: 0;
    }

    .menu--mobile {
        width: 35px;
        height: 30px;
    }
    .menu--mobile div {
        height: 4px;
    }

    .guide {
        grid-template-columns: repeat(1, 1fr);
    }
    #banner .text h1, #banner .text h2, #banner .text h3, #banner .text h4 {
        font-size: 5rem;
    }
    #banner .text p {
        font-size: 1.4rem;
    }
    #banner .loop--images {
        width: 340px;
    }

    .social {
        margin: 0;
    }
    .social img {
        width: 40px;
    }
    .info a {
        font-size: 1.5rem;
    }
    .copy {
        font-size: 1.5rem;
    }
}